<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body style="color:#0066cc;background-color:#d9d9d9;">  
<div class="container-fluid">    
  
  <%= link_to 'Home', root_path , style: 'text-decoration:none;' %>
  <%= link_to 'About', about_path , style: 'text-decoration:none;' %> 
<br> <br>   

 <p class="text-center" style="font-size:18px"><strong>I am a web developer.<br> I became an arsenal fan back in the days of King HENRY.<br> My Favourite Managers are the Special one and the Normal one.</strong>  
 </p>       

    
<img class="img-responsive center-block" src="/assets/king.jpg" alt="Oops Image doesnt exist" width="560" height="380"> 
    
<p class="text-center"> Source <em>Daily Mail</em></p>    
    
<hr>    
<footer>
<p class="text-center" style="color:#28a4a4">&copy; 2016 thefarce blog | Site is under development | Meant for learning purpose only </p>
</footer>    
    

</div>
    
</body>    
</html>