<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body style="color:#0066cc;background-color:#d9d9d9;">
<div class="container-fluid">
  
  <%= link_to 'Home', root_path , style: 'text-decoration:none;' %> |
  <%= link_to 'Blog', articles_path , style: 'text-decoration:none;' %> |  
  <%= link_to 'About', about_path , style: 'text-decoration:none;' %> 
  
<h1 class="text-center"> thefarce <span style="color:red">blog</span></h1>
<p class="text-center"> ARE YOU <a href="https://twitter.com/hashtag/wengerout">#WENGEROUT</a>? </p>

<h3 class="text-center">Is this the right thing to do ?</h3>
<img class="img-responsive center-block" src="/assets/isitright.jpg" alt="Oops Image doesnt exist" width="640" height="415"> 
<p class="text-center"><em>Source</em> <a href="http://www.espnfc.com/arsenal/story/2834285/arsene-wenger--jeers-from-arsenal-fans-difficult-to-take">ESPNFC</a> </p>
<!--    
  <h3>One of my favourite videos</h3>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://www.espnfc.com/video/espn-fc-tv/86/video/2661930/burleys-boiling-point-scotlands-shame"></iframe> body colors - green one - 28a4a4
  </div> -->

<hr>    
<footer>
<p class="text-center" style="color:#28a4a4">&copy; 2016 thefarce blog | Site is under development | Meant for learning purpose only </p>
</footer>    
    

</div>

</body>
</html>
